.header {
    width: 100%;
    display: flex;
    background: #fff;
    border-bottom: 1px solid #cecece;
    &__title {
        width: 50%;
        display: flex;
        justify-content: center;
        .title {
            font-weight: 700;
            font-size: 16.5px;
            color: $textColor;
            }
        .logo {
            width: 80px;
            height: 55px;
            margin-left: 15px;
        }
    }
    &__menu {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-right: 15px;
        color: $textColor;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        ul li {
            display: inline;
            margin-top: 0;
            margin: 0 7px;
            font-size: 15px;
            a {
                color: #000075;
                text-decoration: none;
            }
        }
    }
}

@media(max-width: 500px) {
    .header {
        flex-direction: column;
        &__title {
            width: 100%;
            text-align: center;
            font-size: 12px;
            .logo {
                margin-left: 0;
                margin-right: 10px;
            }
        }

        &__menu {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 3px;
            ul li {
                display: inline;
                margin: 0 4px !important;
                margin-bottom: 0;
                font-size: 12px !important;
            }
        }
    }
}

@media(max-width: 800px) {
    .header {
        border-bottom: 1px solid grey;
        flex-direction: column;
        &__title {
            margin-top: 5px;
            width: 100%;
            justify-content: space-evenly;
            font-size: 13px;
            .logo {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        &__menu {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 3px;
            ul { 
                margin-bottom: 0;
                li {
                display: inline;
                margin: 0 10px;
                font-size: 17px;
            }
        }
        }
    }
}
